* {
  margin: 0;
  padding: 0;
}

nav,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.head {
  width: 100%;
  height: 110px;
  background-color: white;
}

.head .head_center {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

.head .head_center img {
  display: block;
  float: left;
  width: 320px;
  height: 55px;
  margin: 24px 70px 0 0;
}

.head .head_center .head_btn {
  width: 400px;
  height: 40px;
  float: left;
  margin-top: 35px;
  background-color: red;
}

.head .head_center .head_btn input {
  float: left;
  width: 328px;
  height: 38px;
  border: 0;
  outline: none;
  border: 1px solid red;
}

.head .head_center .head_btn button {
  float: left;
  width: 70px;
  height: 100%;
  border: 0;
  outline: none;
  cursor: pointer;
  color: white;
  background-color: red;
}

.head .head_center p {
  float: right;
}

.head .head_center p button {
  width: 50px;
  height: 30px;
  margin: 44px 20px;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.mask .login {
  width: 400px;
  height: 300px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  position: absolute;
}

.mask .login .dtop {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid black;
}

.mask .login .dtop p {
  float: left;
  line-height: 50px;
}

.mask .login .dtop .ddel {
  float: right;
  margin: 5px;
}

.mask .login form {
  text-align: left;
}

.mask .login form #dlu {
  width: 60px;
  background: #2196F3;
  border: 1px solid #ccc;
  color: #fff;
  opacity: 0.5;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  padding: 12px 0 0;
}

.content .headBanner {
  width: 1200px;
  height: 432px;
  margin: 0 auto;
  margin-bottom: 8px;
  background-color: #fff;
}

.content .headBanner .hb_right {
  width: 200px;
  padding: 0 6px;
  margin-right: 8px;
  height: 432px;
  float: left;
  text-align: center;
  background-color: #fff;
}

.content .headBanner .hb_right .nav_left,
.content .headBanner .hb_right .nav_right {
  float: left;
}

.content .headBanner .hb_right .nav_left li,
.content .headBanner .hb_right .nav_right li {
  line-height: 54px;
}

.content .headBanner .hb_right .nav_left li a,
.content .headBanner .hb_right .nav_right li a {
  display: block;
  width: 100px;
  height: 54px;
  font-weight: bold;
}

.content .headBanner .hb_right .nav_left li .iconfont,
.content .headBanner .hb_right .nav_right li .iconfont {
  margin-right: 10px;
  color: black;
}

.content .headBanner .hb_right .nav_left li:hover a,
.content .headBanner .hb_right .nav_right li:hover a {
  color: red;
}

.content .headBanner .hb_left {
  float: left;
  width: 980px;
  height: 413px;
}

.content .headBanner .hb_left p {
  width: 980px;
  height: 60px;
}

.content .headBanner .hb_left p .hs1 {
  width: 17px;
  height: 17px;
  padding-top: 22px;
}

.content .headBanner .hb_left p .hs2 {
  width: 88px;
  height: 30px;
  font-size: 22px;
  color: red;
  margin-left: 8px;
}

.content .headBanner .hb_left p .hs3 {
  font-size: 16px;
  color: #9c9c9c;
  margin-left: 8px;
}

.content .headBanner .hb_left p .hs4 {
  margin-left: 645px;
}

.content .headBanner .hb_left p .hs4 a:hover {
  color: red;
}

.content .headBanner .hb_left .banner {
  width: 940px;
  height: 353px;
}

.content .headBanner .hb_left .banner .banner_l {
  width: 750px;
  height: 353px;
  float: left;
  overflow: hidden;
  position: relative;
}

.content .headBanner .hb_left .banner .banner_l .btn_l,
.content .headBanner .hb_left .banner .banner_l .btn_r {
  width: 30px;
  height: 28px;
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  top: 50%;
  z-index: 5;
  padding-top: 2px;
  display: none;
}

.content .headBanner .hb_left .banner .banner_l .btn_l span,
.content .headBanner .hb_left .banner .banner_l .btn_r span {
  font-size: 24px;
}

.content .headBanner .hb_left .banner .banner_l .btn_l:hover, .content .headBanner .hb_left .banner .banner_l .btn_r:hover {
  background: rgba(0, 0, 0, 0.6);
}

.content .headBanner .hb_left .banner .banner_l .btn_l {
  border-radius: 0 15px  15px 0;
  left: 0;
}

.content .headBanner .hb_left .banner .banner_l .btn_r {
  border-radius: 15px 0 0 15px;
  right: 0;
}

.content .headBanner .hb_left .banner .banner_l nav {
  position: absolute;
  width: 5250px;
  top: 0;
  left: -750px;
}

.content .headBanner .hb_left .banner .banner_l nav img {
  display: block;
  float: left;
}

.content .headBanner .hb_left .banner .banner_r {
  width: 170px;
  height: 353px;
  float: right;
}

.content .headBanner .hb_left .banner .banner_r p {
  width: 170px;
  height: 40px;
  margin-bottom: 30px;
  font-size: 14px;
}

.content .headBanner .hb_left .banner .banner_r .smallnav {
  width: 170px;
  height: 300px;
}

.content .headBanner .hb_left .banner .banner_r .smallnav .s1, .content .headBanner .hb_left .banner .banner_r .smallnav .s2 {
  float: left;
}

.content .headBanner .hb_left .banner .banner_r .smallnav .s1 li, .content .headBanner .hb_left .banner .banner_r .smallnav .s2 li {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
}

.content .headBanner .hb_left .banner .banner_r .smallnav .s1 li img, .content .headBanner .hb_left .banner .banner_r .smallnav .s2 li img {
  display: block;
  width: 100%;
  height: 100%;
}

.content .hotBuy {
  width: 1200px;
  height: 380px;
  margin: 0 auto;
  background-color: pink;
}
